TextAreaComponent {
        height: auto;
        max-height: 1fr;
        overflow: hidden;

}
TextArea {
        height: auto;

}

Horizontal {
  height: auto;
}


MathResult {
      background: gray;
     color: black;
    width: 10%;
    padding-left: 1;
    border-bottom: solid black;


}
